<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Buscar Series</ion-title>
    <ion-buttons slot="end" (click)="dismiss()">
      <ion-icon name="close-circle"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="secondary">
    <form [formGroup]="serieSearch" (ngSubmit)="onSubmit()">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="10">
            <ion-input
              type="text"
              required
              formControlName="serie"
              placeholder="Título de serie"
            ></ion-input>
          </ion-col>
          <ion-col size="2">
            <ion-button
              type="submit"
              color="primary"
              [disabled]="serieSearch.invalid"
            >
              <ion-icon name="search-circle"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list lines="none">
    <ng-container *ngFor="let serie of series">
      <ion-item
        button
        detail
        *ngIf="serie.poster_path"
        (click)="openSerieDetail(serie)"
      >
        <ion-grid fixed>
          <ion-row class="ion-align-items-center">
            <ion-col size="2">
              <ion-img
                src="{{'https://image.tmdb.org/t/p/original/' + serie.poster_path}}"
              ></ion-img>
            </ion-col>
            <ion-col size="7">
              <ion-text color="dark">
                <h6>{{serie.name}}</h6>
              </ion-text>
            </ion-col>
            <ion-col size="3">
              <ion-text color="dark">
                <h6>
                  Fecha de emisión: {{serie.first_air_date | date:'shortDate'}}
                </h6>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
