<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color=dark>
  <div class=web color=light>
    <ion-grid>
      <ion-row>
        <ion-col size="6"><br />
          <ion-item class=border color="secondary" button (click)="openMovies()">
            <div class=center>
              <img class=center src="../../assets/cinema.png" />
              Películas
            </div>
          </ion-item>
        </ion-col>
        <ion-col size="6"><br />
          <ion-item class=border color="secondary" button (click)="openSeries()">
            <div class=center>
              <img class=center src="../../assets/series.png" />
              Series
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6"><br />
          <ion-item class=border color="secondary" button (click)="openGames()">
            <div class=center>
              <img class=center src="../../assets/vr-gaming.png" />
              Juegos
            </div>
          </ion-item>
        </ion-col>
        <ion-col size="6"><br />
          <ion-item class=border color="secondary" button (click)="openMusics()">
            <div class=center>
              <img class=center src="../../assets/cd-burning.png" />
              Musicas
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6"><br />
          <ion-item class=border color="secondary" button (click)="openBooks()">
            <div class=center>
              <img class=center src="../../assets/book.png" />
              Libros
            </div>
          </ion-item>
        </ion-col>
        <ion-col size="6"><br />
          <ion-item class=border color="secondary" button (click)="openRestaurants()">
            <div class=center>
              <img class=center src="../../assets/restaurant.png" />
              Restaurantes
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6"><br />
          <ion-item class=border color="secondary" button (click)="openProducts()">
            <div class=center>
              <img class=center src="../../assets/products.png" />
              Productos
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>