<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Verifiacion de Correo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Gracias por registrarte en Filter This</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="dark" *ngIf="authService.userData as userData">
        <h6>Te enviamos un correo de verifiacion a {{ userData.email }}</h6>
        <h6>
          Entre su correo electrónico y haga clic en el enlace para verificar su
          dirección de correo electrónico.
        </h6>
        <h6>Reviso tambien su correo no deseado o spam.</h6>
      </ion-text>
      <br />
      <ion-button
        (click)="authService.sendVerificationMail()"
        color="success"
        expand="block"
      >
        Reenviar verificacion de correo <ion-icon name="send"></ion-icon>
      </ion-button>
      <br />
      <ion-button (click)="goToSignIn()" expand="block" color="primary">
        Iniciar Sesion <ion-icon name="log-in"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
