<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Juegos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class=web>
    <ion-card-header color=secondary>
      <img class=center src="../../../assets/vr-gaming.png"/>
    </ion-card-header>
    <ion-card-content>
      <ion-item button detail *ngFor="let game of games" (click)="openGameDetail(game)">
        <ion-grid fixed>
          <ion-row class="ion-align-items-center">
            <ion-col size="2" class="ion-no-padding">
              <ion-img src="{{ game.background_image }}"></ion-img>
            </ion-col>
            <ion-col size="7">
              <ion-text color="dark">
                <h6>{{ game.name }}</h6>
              </ion-text>
            </ion-col>
            <ion-col size="3" class="ion-no-padding">
              <ion-text color="dark">
                <h6>
                  Fecha de Salida: {{ game.released | date: "shortDate" }}
                </h6>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>