<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Libro</ion-title>
    <ion-buttons slot="end" (click)="dismiss()">
      <ion-icon name="close-circle"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle
        >Fecha de Publicacion:
        {{
          book.volumeInfo.publishedDate | date: "shortDate"
        }}</ion-card-subtitle
      >
      <ion-card-title>{{ book.volumeInfo.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="4" class="ion-justify-content-center">
            <ion-item>
              <ion-img
                src="{{ book.volumeInfo.imageLinks.thumbnail }}"
                alt="Poster no disponible"
              ></ion-img>
            </ion-item>
          </ion-col>
          <ion-col size="8">
            <ion-item>
              <h6><b>Autor:</b></h6>
            </ion-item>
            <ion-item>
              <ion-label>
                <h6 *ngFor="let author of book.volumeInfo.authors">
                  {{ author }}
                </h6>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-justify-content-center">
            <ion-item>
              <h6><b>Descripcion:</b></h6>
            </ion-item>
            <ion-item>
              <p>{{ book.volumeInfo.description }}</p>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="bookModel">
    <ion-item *ngIf="user">
      <ion-avatar slot="start">
        <img *ngIf="user.photoURL" [src]="user.photoURL" />
        <img
          *ngIf="!user.photoURL"
          src=".../../../../../../../assets/user.png"
        />
      </ion-avatar>
      <ion-label>
        <h3>Recomendado por:</h3>
        <h2>{{ user.displayName }}</h2>
      </ion-label>
    </ion-item>
    <ion-list>
      <ion-list-header>
        Comentarios
      </ion-list-header>
      <ion-item *ngFor="let comment of bookModel.comments">
        <ion-label>
          <h3>{{ comment.displayName }}</h3>
          <p>{{ comment.comment }}</p>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="!bookModel.comments.lenght > 0">
        <ion-label>
          <p>No hay comentarios aun</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-fab *ngIf="!bookModel" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="saveBookRecommendation()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
