<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Buscar Libro</ion-title>
    <ion-buttons slot="end" (click)="dismiss()">
      <ion-icon name="close-circle"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="secondary">
    <form [formGroup]="bookSearch" (ngSubmit)="onSubmit()">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="10">
            <ion-input
              type="text"
              required
              formControlName="book"
              placeholder="Título de libro"
            ></ion-input>
          </ion-col>
          <ion-col size="2">
            <ion-button
              type="submit"
              color="primary"
              [disabled]="bookSearch.invalid"
            >
              <ion-icon name="search-circle"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list lines="none">
    <ion-card *ngFor="let book of books">
      <ion-item button detail (click)="openBookDetail(book)" color=light>
        <ion-grid fixed>
          <ion-row class="ion-align-items-center">
            <ion-col size="2">
              <ion-img
                src="{{book.volumeInfo.imageLinks.smallThumbnail}}"
              ></ion-img>
            </ion-col>
            <ion-col size="7">
              <ion-text color="dark">
                <h6>{{book.volumeInfo.title}}</h6>
              </ion-text>
            </ion-col>
            <ion-col size="3">
              <ion-text
                color="dark"
                *ngIf="book.volumeInfo.publishedDate;else noDate"
              >
                <h6>
                  Fecha de Publicación: {{book.volumeInfo.publishedDate |
                  date:'shortDate'}}
                </h6>
              </ion-text>
              <ng-template #noDate>
                <ion-text color="dark" ngtem>
                  <h6>
                    Sin fecha de publicación
                  </h6>
                </ion-text>
              </ng-template>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
