<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class=web>
    <ion-card-header color=secondary>
      <img class=center src="../../../assets/products.png" />
    </ion-card-header>
    <ion-card-content>
      <ion-item button detail *ngFor="let product of products" (click)="openProductDetail(product)">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="8">
              <ion-text color="dark">
                <h6>{{ product.productName }}</h6>
              </ion-text>
            </ion-col>
            <ion-col size="4" class="ion-no-padding">
              <ion-text color="dark">
                <h6>Precio: {{ product.price }} Bs.</h6>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>