<ion-content fullscreen class="ion-padding" scroll-y="false" color="primary">
  <ion-slides pager="true" [options]="slideOpts" #slides>
    <ion-slide>
      <div class="slide">
        <ion-text color="dark">
          <h1>Bienvenido!!!</h1>
          <h6>
            <b>FILTER THIS</b> es una aplicación colaborativa de recomendaciones
            de tus películas, series, videojuegos, libros, restaurantes
            favoritos entre las distintas categorías disponibles.
          </h6>
        </ion-text>
      </div>
    </ion-slide>

    <ion-slide>
      <ion-text color="dark">
        <h1>Descubre y Recomienda</h1>
        <h6>
          Te mostramos las recomendaciones más valoradas de nuestras distintas
          categorías.
        </h6>
      </ion-text>
    </ion-slide>

    <ion-slide>
      <ion-text color="dark">
        <h1>Busca y Publica</h1>
        <h6>
          Publica tus recomendaciones, para sorprender a los demas usuarios para
          que valoren tus gustos.
        </h6>
      </ion-text>
    </ion-slide>

    <ion-slide>
      <h2>Listo para comenzar con esta experíencia?</h2>
      <ion-button color="light" (click)="goToHome()"
        >Continuar <ion-icon slot="end" name="arrow-forward"></ion-icon
      ></ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
